.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* css to arrange the DiePickers in a grid pattern and background color yellow*/
.DiePickerGrid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.body{
  outline: red dashed 1px;
}

.displayDice {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.displayDice img {
  width: 50%;
  height: 50%;
}

/* css to arrange divs in multiDiceDisplay without line breaks */
.multiDiceDisplay {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
}

.multiDiceDisplay p {
  margin: 0;
  padding: 0;
  max-width: 20%;
  min-width: 20%;
}

/* css for small button panel with no spacing between buttons */
.buttonPanel {
  width: 100%;
  height: 100%;
  outline: red dashed 1px;
  padding: 0em 0em;
}

.button {
  background-color: #FFE81F;
  color: #000;
  text-shadow: 0 1px 1px #0f0f0f;
  border: none;
  padding: 0.84em 1.47em;
  font-size: 20;
  line-height: 18px;
  -webkit-box-shadow: 0 5px 0 #0f0f0f,0 7px 2px rgba(0,0,0,0.25);
  -moz-box-shadow: 0 5px 0 #C43012,0 7px 2px rgba(0,0,0,0.25);
  box-shadow: 0 5px 0 #3f3f3f,0px 7px 3px rgba(0,0,0,0.25);
}

.buttonPanel .button {
  margin: 0;
  padding: 0;
  width: 50%;
  padding-top: 10%;
  padding-bottom: 10%;
}

.button, .button:hover, .button:active {
  text-decoration: none;
}

.button {
  cursor: pointer;
  position: relative;
  display: inline-block;
  font-family: "Helvetica Neue",Helvetica,arial,sans-serif;
  text-align: center;
}

.button:hover {
  background-color: #EF684E;
}

.button:active {
  -webkit-box-shadow: 0 1px 0 #F17C65,0 1px 2px rgba(0,0,0,0.25);
  -moz-box-shadow: 0 1px 0 #F17C65,0 1px 2px rgba(0,0,0,0.25);
  box-shadow: 0 1px 0 #F17C65,0 1px 2px rgba(0,0,0,0.25);
}

input {
  border: 5px solid white; 
  -webkit-box-shadow: 
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1); 
  -moz-box-shadow: 
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1); 
  box-shadow: 
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1); 
  padding: 15px;
  background: rgba(255,255,255,0.5);
  width: 55%;
}

.diePicker {
  width: 100%;
  height: fit-content;
  outline: red dashed 1px;
  border-radius: 15px;
}

a { color:#FFE81F } /* Globally */

/* Each state */

a:visited { text-decoration: none; color:red; }
a:hover { text-decoration: none; color:blue; }
a:focus { text-decoration: none; color:yellow; }
a:hover, a:active { text-decoration: none; color:black }

.title {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: calc(1rem + 3vw);
  container-name: sidebar;
}

@container sidebar (min-width: 700px) {
  .module h2 {
    font-size: 2em;
  }
}

.enemy {
  color: red;
}

.player {
  color: green;
}